.top-bar{
    background:red;
}


.social-media-icon{

    background:green;
    height: 32px;
}

.search{
    background:yellow;
    height: 32px;
}

.main-menu ul li,.footer-menu ul li{
    display:inline;
    padding:8px;
}

.footer{
    background:grey;
}